.message-preview-bubble {
	position: fixed;
	padding: 1.2rem;
	width: fit-content;
	max-width: 400px;
	height: fit-content;
	border-radius: 1rem;
	background-color: #fff;
	box-shadow:
		0 0 15px rgba(101, 119, 134, 0.2),
		0 0 3px 1px rgba(101, 119, 134, 0.15);
	color: rgb(15, 20, 25);
	z-index: 1000;
	visibility: hidden;
	font-family:
		TwitterChirp,
		-apple-system,
		'system-ui',
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Noto Color Emoji',
		'Twemoji Mozilla',
		sans-serif;
	line-height: 1.15;
}

:host-context(html[data-theme='dark']) .message-preview-bubble {
	background-color: rgb(20, 20, 20);
	box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0);
	color: #e4e4e4;
}

.show-bubble {
	visibility: visible;
}
