.message-preview-bubble {
	position: fixed;
	padding: 1.2rem;
	width: fit-content;
	max-width: 400px;
	height: fit-content;
	border-radius: 1rem;
	background-color: rgb(32, 35, 39);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	color: #e4e4e4;
	z-index: 1000;
	visibility: hidden;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.show-bubble {
	visibility: visible;
}
